@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #020817;
  color: white;
  overflow-x: hidden;
}

.section-padding {
  @apply py-24 px-6 md:px-12 lg:px-20;
}

.container-width {
  max-width: 1640px;
  @apply  mx-auto;
}

.orange-gradient {
  background: linear-gradient(to right, #ff6b00, #ff8f00);
}

.card {
  @apply bg-slate-900 border border-slate-800 rounded-2xl;
}